body {
    box-sizing: border-box;
    background-color: antiquewhite;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 650px;
}

.square {
    background-color: burlywood;
    height: 200px;
    width: 200px;
    margin-right: 15px;
}