body {
    box-sizing: border-box;
    background-color: antiquewhite;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 560px;
    width: 720px;
}

.square {
    background-color: burlywood;
    height: 170px;
    width: 200px;
    margin-right: 18px;
}

#mole-img {
    height: 170px;
    width: 200px;
}